// Import color and font variables
@import '../../scss/_colors';
@import '../../scss/_fonts';
@import '../../scss/_mixins';

.footer {
  background-color: $background-color-footer;
  color: $color-white;
  padding: 2rem 0;

  .container {
    @include container;
  }

  .footer-section {
    margin-bottom: 1.5rem;

    h5 {
      @include heading-style;
      color: $color-white;
    }

    p,
    address,
    a {
      font-size: $font-size-sm;
      color: $color-white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-links {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 0.5rem;
    }
  }

  .footer-bottom {
    text-align: center;
    margin-top: 2rem;

    p {
      margin-bottom: 0;
    }
  }
}
